@model DD4T.ContentModel.BinaryMeta
<tr>
    <td>ID</td>
    <td>@Model.Id</td>
</tr>
<tr>
    <td>Variant ID</td>
    <td>@Model.VariantId</td>
</tr>
<tr>
    <td>Last publish date</td>
    <td>@Model.LastPublishedDate</td>
</tr>
