@model System.Web.Mvc.CachedDataAnnotationsModelMetadata

<tr>
    <td>ModelType</td>
    <td>@Model.ModelType.FullName</td>
</tr>
<tr>
    <td>Description</td>
    <td>@Model.Description</td>
</tr>
<tr>
    <td>DataTypeName</td>
    <td>@Model.DataTypeName</td>
</tr>