@model BasicContent
    <table cellpadding="0" cellspacing="0" border="0" width="600" class="emailwrapto100pc" style="width:600px;">
        <tr>
            <td width="600" valign="top" align="center">
                <table cellpadding="0" cellspacing="0" border="0" align="center" width="305" class="emailwrapto94pc" style="width:305px;">
                    <tr>
                        <td align="center" style="font-family:Arial, Helvetica, sans-serif;font-size:11px;line-height:13px;color:#09118a;padding-top:20px;padding-bottom:40px;" class="smallText">
                            @*<a href="[Unsubscribe]" target="_blank" style="color:#09118a !important;"><span style="color:#09118a">Unsubscribe from this list</span></a><br />*@
                            @Model.Body
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>