@model BasicContent
    <table cellpadding="20" cellspacing="0" bgcolor="#ffffff" border="0" width="600" class="emailwrapto94pc" style="width:600px;">
        <tr>
            <td align="center" valign="top">
                <table cellpadding="0" cellspacing="0" width="500" bgcolor="#ffffff" border="0" class="emailwrapto94pc" style="width:500px">
                    <tr>
                        <td height="24" valign="top"></td>
                    </tr>
                    <tr>
                        <td align="center" style="font-family:Arial Black,Arial,sans-serif;font-size:24px;line-height:29px;color:#df3d8d;text-transform:uppercase;">
                            <strong><I>@Model.Heading</I></strong>
                        </td>
                    </tr>
                    <tr>
                        <td height="24" valign="top"></td>
                    </tr>
                    <tr>
                        <td align="center" style="font-family:Arial, sans-serif;font-size:14px;line-height:20px;color:#09118a;">
                            @Model.Body
                        </td>
                    </tr>
                    <tr>
                        <td height="25" valign="top"></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>