<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
	     <clear />
		<add key="nuget.org.v2" value="https://www.nuget.org/api/v2/" />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
		<add key="trivident_internal" value="http://trivident-nuget-server.azurewebsites.net/nuget" />
	</packageSources>
	<!--
    <packageSourceCredentials>
	    <trivident-internal>
	        <add key="Username" value="admin" />
	        <add key="ClearTextPassword" value="Ukl@m06" />
	    </trivident-internal>
	</packageSourceCredentials>
	-->
  <disabledPackageSources>
  </disabledPackageSources>
  <packageSourceCredentials>
    <trivident_internal>
      <add key="Username" value="admin" />
	  <add key="ClearTextPassword" value="Ukl@m06" />
      <!-- <add key="Password" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAAgQ5BScTY0uDp/5OdevLMAAAAAACAAAAAAAQZgAAAAEAACAAAAB+x/hgPRJ2GpVP3aR8M27ZiYZfWhXgCGBy3napIZpMQgAAAAAOgAAAAAIAACAAAAAQRJ20QfyWk5Z0+v6fYsiSWOiO6hdZ5PzUwYTFf3l2ChAAAACblk6VWfbxem4p/gZmdsQrQAAAAK/xcYbyyiZ0w9JYokkkdRmNqSDNIsGxzloFigH5bwxQDze8u4cmIi/IwIkC3H9fhFYodcB7ydUSPX9QTlB7z/U=" /> -->
    </trivident_internal>
  </packageSourceCredentials>
</configuration>